.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  text-decoration: underline;
}

.button-add {
  background: #b25ce7;
  color: rgba(0, 0, 0, 0.54);
  box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 20%);
  border-color: transparent;
  text-align: center;
  border-radius: 3px;
  height: 39px;
  padding-top: 0;
  margin-bottom: 12px;
  width: 6rem;
  color: white;
  font-size: large;
  margin-right: 11px;
}
button:disabled.button-add {
  opacity: 0.7;
  cursor: not-allowed;
}
.input-add {
  font-size: 14px;
  background-color: #fafbfc;
  border: 2px solid #dfe1e6;
  border-radius: 3px;
  height: 15px;
  padding: 10px;
  margin: 0 1.2rem 1.2em;
}
